 .card {
     box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
     display: flex;
     flex-direction: column;
     height: 97%;
 }

 .card-body {
     flex-grow: 1;
 }

 .card-body ul {
     padding-left: 20px;
 }

 .row {
     display: flex;
     flex-wrap: wrap;
 }

 .col-md-4 {
     display: flex;
 }